.home-container{
    margin: 60px 0px;
    width: 800px;
    max-width: 90%;
    text-align: center;
}
.home-container h1{
    margin: 16px;
}
.contact-container{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    margin-bottom: 0.9px;
    padding: 12px;
    border-radius: 6px;
}

.contact-container div{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-container p{
    font-size: 22px;
    text-align: left;
}
.contact-container img{
    width: 70px;
    border-radius: 50%;
}